<div class="input-field" style="display: block">
    <label class="browser-default"></label>
    <div class="audio">
        <img src="/public/image/no-image.png" class="no-image responsive-img">
        <div class="audio-header no-display" data-view="image">
            <div>
                <div class="audio-title"></div>
                <audio controls preload="metadata" controlsList="nodownload" text="Аудио не доступно" volume="high" status="stop"></audio>
            </div>
            <i class="material-icons">close</i>
        </div>
    </div>
    <button type="button" style="display: block; margin-left: 0; margin-top: 4rem" class="file-field">
        <span>Загрузить аудио</span>
        <input type="file" accept="audio/*">
    </button>
</div>