<div class="input-field" style="display: block">
    <label class="browser-default"></label>
    <div class="book">
        <img src="/public/image/no-image.png" data-view="image" class="no-image responsive-img">
        <iframe class="no-display" width="100%" height="100%"></iframe>
    </div>
    <button type="button" style="display: block; margin-left: 0; margin-top: 4rem" class="file-field">
        <span>Загрузить книгу</span>
        <input type="file" accept="application/pdf">
    </button>
</div>