<div class="input-field" style="display: block">
    <label class="browser-default"></label>
    <div class="doc">
        <img src="/public/image/no-image.png" class="no-image responsive-img">
        <div class="no-display file-header material-header" data-file-type="" data-view="image">
            <span></span>
            <span></span>
            <i class="material-icons">close</i>
        </div>
    </div>
    <button type="button" style="display: block; margin-left: 0; margin-top: 4rem" class="file-field">
        <span>Загрузить файл</span>
        <input type="file" accept="*/*">
    </button>
</div>