<div class="input-field" style="display: block">
    <label class="browser-default"></label>
    <div class="video">
        <img src="/public/image/no-image.png" data-view="image" class="no-image responsive-img">
        <video src="" controls preload="metadata" controlsList="nodownload" text="Видео не доступно" volume="high" status="stop" fullscreen="no" class="no-display responsive-video"></video>
    </div>
    <button type="button" style="margin-left: 0; margin-top: 4rem" class="file-field">
        <span>Загрузить видео</span>
        <input type="file" accept="video/*">
    </button>
    <button type="button" id="add_youtube_video" data-target="modal" class="modal-trigger">Загрузить с youtube</button>
</div>